<div id="content">
  <table>
    <tr>
      <td>
        <div>
          <img class="icon" [src]="'../assets/icons/person.svg'">
          <span>Username</span>
        </div>
        <input id="username-input" type="email">
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <img class="icon" [src]="'../assets/icons/key.svg'">
          <span>Password</span>
          <button (click)="togglePasswordPeek()" id="password-button">
            <img *ngIf="peek == 'hide'" id="peek-button" [src]="'../assets/icons/eye.svg'">
            <img *ngIf="peek == 'show'" id="peek-button" [src]="'../assets/icons/eye-off.svg'">
          </button>
        </div>
        <input id="password-input" type="password">
      </td>
    </tr>
    <tr>
      <td>
        <button id="login-button" (click)="login()">LOGIN</button>
      </td>
    </tr>
  </table>
</div>
