<div id="content">
  <div *ngIf="GVS.getVar('logged') == false">
    <h2>
      Please <a id="login-redirect" (click)="redirectTo('login')">log-in</a> to use this feature.
    </h2>
  </div>

  <div *ngIf="GVS.getVar('logged') == true">
    <table>
      <tr class="data-row">
        <td class="data-col">
          <label class="data-text">text</label>
          <input class="data-input" value="input">
        </td>
      </tr>
      <tr class="data-row">
        <td class="data-col">
          <label class="data-text">text</label>
          <input class="data-input" value="input">
        </td>
      </tr>
      <tr class="data-row">
        <td class="data-col">
          <label class="data-text">text</label>
          <input class="data-input" value="input">
        </td>
      </tr>
      <tr>
        <td>
          <button id="create-button">
            CREATE
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
