@import "/src/styles.scss";

#login-redirect {
  background-color: $light;
  color: $danger;
  padding: 0.2em;
  text-decoration: underline;
  border-radius: 5px;
}

#login-redirect:hover {
  background-color: $danger;
  color: $light;
  cursor: pointer;
}

#content {
  display: flex;
  justify-content: center;
}

table {
  // text-align: center;

  .data-text {
    width: 50%;
  }

  .data-input {
    width: 50%;
  }

  #create-button {
    width: 100%;
  }
}
