<div id="content">
  <div *ngIf="GVS.getVar('logged') == false">
    <h2>
      Please <a id="login-redirect" (click)="redirectTo('login')">log-in</a> to use this feature.
    </h2>
  </div>

  <div *ngIf="GVS.getVar('logged') == true">
    <div *ngFor="let item of GVS.getVar('dataArray') | keyvalue" id="{{item.key}}">
      <div *ngFor="let field of item.value | keyvalue">
        <p class="field">
          <span class="field-key">{{field.key}}: </span>
          <span class="field-value">{{field.value}}</span>
        </p>
      </div>
      <br>
    </div>
  </div>
</div>
