<header>
  <table>
    <tr>
      <td>
        <span id="username-title" *ngIf="username != null">
          user: <b>{{username}}</b>
        </span>
      </td>

      <td>
        <h1><a href="https://github.com/dudushy/CRUD.ng/" target="_blank">CRUD.ng</a></h1>
      </td>

      <td>
        <button id="theme-button">
          <img *ngIf="GVS.getVar('theme') == 'dark'" src="assets/icons/sunny.svg" (click)="toggleTheme()">
          <img *ngIf="GVS.getVar('theme') == 'light'" src="assets/icons/moon.svg" (click)="toggleTheme()">
        </button>
      </td>
    </tr>
  </table>

  <ul>
    <li *ngFor="let page of GVS.getVar('all_pages') | keyvalue">
      <button *ngIf="page.value == GVS.getVar('current_url')" (click)="redirectTo(page.value)" [attr.active]="true">{{page.value}}</button>
      <button *ngIf="page.value != GVS.getVar('current_url')" (click)="redirectTo(page.value)" [attr.active]="false">{{page.value}}</button>
    </li>
  </ul>
  <hr>
</header>

<router-outlet></router-outlet>

<footer>
  <hr>
  <h1>
    Made with <span id="heart">&#10084;</span>
    <br>
    by
    <br>
    <br>
    <a href="https://github.com/dudushy" target="_blank">dudushy</a> & <a href="https://github.com/Natzun" target="_blank">Natzun</a>
  </h1>
</footer>
