@import "/src/styles.scss";

header {
  background: radial-gradient($light 1%, $dark);
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
  border: 2px solid $light;
  font-family: monospace;
  font-weight: bolder;
  animation: grayscale-border-reverse 20s linear;
  animation-iteration-count: infinite;

  #theme-button {
    border-radius: 50%;
    float: right;
    position: absolute;
    // margin-bottom: -1em;
    margin-left: 37%;
    width: 2.5em;
    height: 2.5em;
    font-size: larger;
    padding: 0.4em;
    transition: 0.2s;
  }

  hr {
    color: $medium;
    padding: 0.2em;
    border-radius: 30px;
    animation: grayscale-background-reverse 20s linear;
    animation-iteration-count: infinite;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: $danger;
  }

  ul {
    // background-color: $warning;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    padding-inline: 0.5em;
    padding-bottom: 0.2em;
    // width: 100%;
  }

  button {
    border-radius: 10px;
    font-size: large;
    font-weight: bolder;
    padding: 0.8em;
    padding-block: 0.5em;
    transition: 0.2s;
  }

  button[active="true"] {
    background-color: $danger;
    color: $light;
    transition: 0.2s;
  }

  button[active="false"] {
    background-color: $light;
    color: $danger;
    transition: 0.2s;
  }
}

footer {
  // background: radial-gradient($dark, $light);
  background: radial-gradient($light 1%, $dark);
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
  border: 2px solid $light;
  font-family: monospace;
  font-weight: bolder;
  color: $dark;
  animation: grayscale-border-reverse 20s linear;
  animation-iteration-count: infinite;

  hr {
    color: $medium;
    padding: 0.2em;
    border-radius: 30px;
    animation: grayscale-background-reverse 20s linear;
    animation-iteration-count: infinite;
  }

  #heart {
    color: $danger;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: $tertiary;
    background-color: rgba($dark, 0.4);
    padding: 0.25em;
    border-radius: 10px;
    border: 1px dotted $danger;
    animation: rainbow-color 2s linear;
    animation-iteration-count: infinite;
  }
}
