// @use '/src/styles.scss' as vars;
@import '/src/styles.scss';

header {
  background: radial-gradient($light 1%, $dark);
  padding: .5em;
  border-radius: 10px;
  text-align: center;
  border: 2px solid $light;
  font-family: monospace;
  font-weight: bolder;

  hr {
    color: $medium;
    padding: .2em;
    border-radius: 30px;
  }

  a, a:hover, a:active, a:visited {
    color: $danger;
  }

  ul {
    // background-color: $warning;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    padding-inline: 1em;
    // width: 100%;
  }

  button {
    border-radius: 20px;
    font-size: larger;
  }

  button[active="true"] {
    background-color: $button-back-default;
    color: $button-text-default;
    padding: 1em;
    // width: 100%;
    transition: .5s;
  }

  button[active="false"] {
    background-color: $back-default;
    color: $text-default;
    padding: 1em;
    // width: 100%;
    transition: .5s;
  }

  button:active{
    background-color: $back-highlight;
    color: $text-highlight;
    transition: .5s;
  }
}

footer {
  background: radial-gradient($dark, $light);
  padding: .5em;
  border-radius: 10px;
  text-align: center;
  border: 2px solid $light;
  font-family: monospace;
  font-weight: bolder;

  hr {
    color: $medium;
    padding: .2em;
    border-radius: 30px;
  }

  span {
    color: $danger;
  }

  a, a:hover, a:active, a:visited {
    color: $tertiary;
    background-color: rgba($light, .3);
    padding: .25em;
    border-radius: 15px;
    border: 1px dotted $danger;
  }
}
