$primary: #3880ff;
$secondary: #3dc2ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$dark: #222428;
$medium: #92949c;
$light: #f4f5f8;

$text-dark: #ffffff;
$text-light: #9224ff;
$back-dark: #000000;
$back-light: #393939;
$button-back-dark: #3dc2ff;
$button-back-light: #3880ff;

#content {
  background-color: #92949c9a;
  border-radius: 10px;
  padding: 1em;
  margin-block: 1em;
  animation: rainbow-border 5s linear;
  animation-iteration-count: infinite;
}

body[theme="dark"] {
  background-color: $dark;
  color: $light;
}

body[theme="light"] {
  background-color: $light;
  color: $dark;
}

body {
  // animation: rainbow-background 30s linear;
  animation: grayscale-background 20s linear;
  animation-iteration-count: infinite;
  transition: 0.2s;
}


//? Animations
@keyframes grayscale-background {
  0%,
  100% {
    background-color: #000000;
  }

  25%,
  75% {
    background-color: #808080;
  }

  50% {
    background-color: #ffffff;
  }
}

@keyframes grayscale-border {
  0%,
  100% {
    border: 2px solid #000000;
  }

  25%,
  75% {
    border: 2px solid #808080;
  }

  50% {
    border: 2px solid #ffffff;
  }
}

@keyframes grayscale-background-reverse {
  0%,
  100% {
    background-color: #ffffff;
  }

  25%,
  75% {
    background-color: #808080;
  }

  50% {
    background-color: #000000;
  }
}

@keyframes grayscale-border-reverse {
  0%,
  100% {
    border: 2px solid #ffffff;
  }

  25%,
  75% {
    border: 2px solid #808080;
  }

  50% {
    border: 2px solid #000000;
  }
}

@keyframes rainbow-color {
  100%,
  0% {
    color: #ff0000;
  }

  8% {
    color: #ff7f00;
  }

  16% {
    color: #ffff00;
  }

  25% {
    color: #7fff00;
  }

  33% {
    color: #00ff00;
  }

  41% {
    color: #00ff7f;
  }

  50% {
    color: #00ffff;
  }

  58% {
    color: #007fff;
  }

  66% {
    color: #0000ff;
  }

  75% {
    color: #7f00ff;
  }

  83% {
    color: #ff00ff;
  }

  91% {
    color: #ff007f;
  }
}

@keyframes rainbow-background {
  100%,
  0% {
    background-color: #ff0000;
    // color: #ff007f;
  }

  8% {
    background-color: #ff7f00;
    // color: #ff00ff;
  }

  16% {
    background-color: #ffff00;
    // color: #7f00ff;
  }

  25% {
    background-color: #7fff00;
    // color: #0000ff;
  }

  33% {
    background-color: #00ff00;
    // color: #007fff;
  }

  41% {
    background-color: #00ff7f;
    // color: #00ffff;
  }

  50% {
    background-color: #00ffff;
    // color: #00ff7f;
  }

  58% {
    background-color: #007fff;
    // color: #00ff00;
  }

  66% {
    background-color: #0000ff;
    // color: #7fff00;
  }

  75% {
    background-color: #7f00ff;
    // color: #ffff00;
  }

  83% {
    background-color: #ff00ff;
    // color: #ff7f00;
  }

  91% {
    background-color: #ff007f;
    // color: #ff0000;
  }
}

@keyframes rainbow-border {
  100%,
  0% {
    border: 5px solid #ff0000;
  }

  8% {
    border: 5px solid #ff7f00;
  }

  16% {
    border: 5px solid #ffff00;
  }

  25% {
    border: 5px solid #7fff00;
  }

  33% {
    border: 5px solid #00ff00;
  }

  41% {
    border: 5px solid #00ff7f;
  }

  50% {
    border: 5px solid #00ffff;
  }

  58% {
    border: 5px solid #007fff;
  }

  66% {
    border: 5px solid #0000ff;
  }

  75% {
    border: 5px solid #7f00ff;
  }

  83% {
    border: 5px solid #ff00ff;
  }

  91% {
    border: 5px solid #ff007f;
  }
}
